importFrom(lme4,
     "getME",
     "isREML",
     "refitML",
     "VarCorr"
)
importFrom(nlme,
      "fixef",
      "ranef"
)

importFrom(methods,
    "as",
    "getMethod",
    "new",
    "setOldClass",
    "signature")

importFrom("graphics", "abline", "plot", "points", "text")

importFrom("stats", "coef", "lm", "model.matrix", "printCoefmat",
     "qnorm","AIC", "deviance", "logLik", "pnorm", "vcov")

export(maxadjr,
       qqnorml,
       Cpplot,
       vif,
       prplot,
       halfnorm,
       fround,
       pfround,
       logit,
       ilogit)

exportMethods(
    "sumary"
)

S3method(vif, default)
S3method(vif, lm)
